# Maven
target/
**/target/

# Java
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Environment files
.env